<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.shuyx.shuyxuser.mapper.RoleMapper">
    <select id="selectMenuIdsByRoleId">
        SELECT rm.menu_id FROM t_role_menu rm
        <where>
            <if test="roleId != null">
                AND rm.role_id = #{roleId}
            </if>
        </where>
    </select>

    <insert id="batchInsertRoleMenu">
        insert into t_role_menu(role_id, menu_id) values
        <foreach item="item" index="index" collection="list" separator=",">
            (#{item.roleId},#{item.menuId})
        </foreach>
    </insert>

    <delete id="deleteRoleMenuByRoleId">
        DELETE FROM t_role_menu rm
        <where>
            <if test="roleId != null">
                AND rm.role_id = #{roleId}
            </if>
        </where>
    </delete>

</mapper>
