<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.shuyx.shuyxmedia.mapper.MediaMapper">

    <select id="pageFindMediaByTag" resultType="com.shuyx.shuyxmedia.dto.MediaDTO">
        SELECT m.* FROM t_media m
        LEFT JOIN t_media_tag mg on m.media_id = mg.media_id
        LEFT JOIN t_tag g on mg.tag_id = g.tag_id
        <where>
            <if test="mediaType != null and mediaType != '' ">
                AND m.media_type = #{mediaType}
            </if>
            <if test="tagIds != null and tagIds.length>0">
                AND g.tag_id in
                <foreach item="item" index="index" collection="tagIds" open="("  close=")" separator=",">
                    #{item}
                </foreach>
            </if>
            GROUP BY m.media_id HAVING COUNT(*) = #{num}
        </where>
    </select>

    <select id="findMediaAndTag" resultMap="MapA" parameterType="com.shuyx.shuyxmedia.dto.MediaDTO">
        SELECT m.* , g.tag_id ,g.tag_name ,g.tag_type FROM t_media m
            LEFT JOIN t_media_tag mg on m.media_id = mg.media_id
            LEFT JOIN t_tag g on mg.tag_id = g.tag_id
        <where>
            <if test="mediaId != null ">
                AND m.media_id = #{mediaId}
            </if>
            <if test="mediaName != null and mediaName != '' ">
                AND m.media_name like concat('%', #{mediaName}, '%')
            </if>
        </where>
    </select>

    <!--结果映射集合-->
    <resultMap id="MapA" type="com.shuyx.shuyxmedia.dto.MediaDTO">
        <!--将sql语句查出来的的字段赋值到对应的对象属性上。 -->
        <id property="mediaId" column="media_id"/>
        <result property="mediaName" column="media_name"/>
        <result property="mediaType" column="media_type"/>
        <result property="mediaTag" column="media_tag"/>
        <result property="mediaCover" column="media_cover"/>
        <result property="director" column="director"/>
        <result property="actor" column="actor"/>
        <result property="description" column="description"/>
        <result property="releaseDate" column="release_date"/>
        <result property="region" column="region"/>
        <result property="mediaScore" column="media_score"/>
        <!-- 使用<collection>标签将多对多关联查询的数据，赋值到指定的结果集中-->
        <!--一个媒体拥有多个类型-->
        <collection property="tagList" ofType="com.shuyx.shuyxmedia.entity.TagEntity">
            <id property="tagId" column="tag_id"/>
            <result property="tagName" column="tag_name" />
            <result property="tagType" column="tag_type"/>
        </collection>
    </resultMap>


    <select id="findMediaAndEpisodes" resultMap="MapB" parameterType="com.shuyx.shuyxmedia.dto.MediaDTO">
        SELECT m.* , e.episodes_id ,e.episodes_number ,e.episodes_name ,e.episodes_url  FROM t_media m
        LEFT JOIN t_episodes e on m.media_id = e.media_id
        <where>
            <if test="mediaId != null ">
                AND m.media_id = #{mediaId}
            </if>
            <if test="mediaName != null and mediaName != '' ">
                AND m.media_name like concat('%', #{mediaName}, '%')
            </if>
        </where>
        order by e.episodes_number
    </select>

    <resultMap id="MapB" type="com.shuyx.shuyxmedia.dto.MediaDTO">
        <!--将sql语句查出来的的字段赋值到对应的对象属性上。 -->
        <id property="mediaId" column="media_id"/>
        <result property="mediaName" column="media_name"/>
        <result property="mediaType" column="media_type"/>
        <result property="mediaTag" column="media_tag"/>
        <result property="mediaCover" column="media_cover"/>
        <result property="director" column="director"/>
        <result property="actor" column="actor"/>
        <result property="description" column="description"/>
        <result property="releaseDate" column="release_date"/>
        <result property="region" column="region"/>
        <result property="mediaScore" column="media_score"/>
        <collection property="episodesList" ofType="com.shuyx.shuyxmedia.entity.EpisodesEntity">
            <id property="episodesId" column="episodes_id"/>
            <result property="episodesNumber" column="episodes_number" />
            <result property="episodesName" column="episodes_name" />
            <result property="episodesUrl" column="episodes_url" />
        </collection>
    </resultMap>

</mapper>
