<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.shuyx.shuyxmedia.mapper.TagMapper">

    <insert id="batchInsertMediaTag">
        insert into t_media_tag(media_id, tag_id) values
        <foreach item="item" index="index" collection="list" separator=",">
            (#{item.mediaId},#{item.tagId})
        </foreach>
    </insert>

    <select id="findTagByMediaId">
        SELECT g.tag_id , g.tag_name , g.tag_type FROM t_tag g LEFT JOIN t_media_tag mg on g.tag_id = mg.tag_id
        <where>
            mg.media_id = #{mediaId}
        </where>
    </select>

    <delete id="batchDeleteMediaTag">
        DELETE FROM t_media_tag
        <where>
            (media_id,tag_id) in
            <foreach item="item" index="index" collection="list" separator="," open="(" close=")">
                (#{item.mediaId},#{item.tagId})
            </foreach>
        </where>
    </delete>
</mapper>
